main p {
    font-size: 1.25em;
    margin: 0 auto;
    padding: 0;
    color: #b0b0b8;
    max-width: 60em;
}

main h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 1em 0;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    width: 100%;
}

.contact-wrapper a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
    background-color: #202028;
    color: #e0e0e8;
    border-radius: 1em;
    cursor: pointer;
    width: 15em;
    overflow: hidden;
}

.contact-wrapper a > * {
    pointer-events: none;
}

.contact-wrapper h2 {
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
}

main img {
    max-height: 8em;
    filter: invert(95%) sepia(5%) saturate(221%) hue-rotate(202deg) brightness(95%) contrast(92%);
    padding: 0.5em;
}

.contact-wrapper a:hover > * {
    opacity: 0.8;
}

.contact-wrapper a:active > * {
    opacity: 0.5;
}