header {
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;

  nav {
    padding-right: 0.5rem;

    a {
      font-size: 1.25rem;
      margin: 0;
      transform: translateY(-0.3125rem);
      color: #c0c0c8;
      height: 0;
      text-decoration: none;
      transition: color 0.15s ease;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        color: #e0e0e8;
      }

      &:active {
        color: white;
      }
    }

    span a {
      display: inline;
      border: 0.1rem solid #101018;
      padding: 0.7rem 0.9rem;
      margin-left: 0.5rem;
      border-radius: 0.5rem;
      transition: border-color 0.15s ease;

      &:hover {
        border-color: #202028;
      }

      &:active {
        border-color: #303038;
      }
    }
  }

  @media (max-width: 768px) {
    position: initial;

    nav {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin: 0 0.5rem;
      }

      span a {
        display: block;
        padding: 0.75rem;
        border: 0;
      }
    }
  }
}

#header-top {
  background: black;
  padding: 1rem;
  margin: 0;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.header-title {
  display: flex;
  flex-direction: row;
}

.badge {
  height: 2.5rem;
}

.badge-wrapper-1 {
  padding: 0;
  margin: 0 0 0 0.75rem;
  transform: translateY(0.75rem);
}

.badge-wrapper-2 {
  padding: 0;
  margin: 0 0 0 0.75rem;
  transform: translateY(0.9rem);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 4rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    vertical-align: center;
    transition: border-radius 0.15s ease;

    &:hover {
      border-radius: 25%;
    }
  }

  span, span a {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    color: #c0c0c8;
    text-decoration: none;
    transition: color 0.15s ease;
    padding: 0 0.25rem;

    &:hover {
      color: #e0e0e8;
    }

    &:active {
      color: white;
    }
  }

  @media (max-width: 768px) {
    text-wrap: nowrap;
  }
}

#support-banner {
  background: #4070c0;
  font-size: 1rem;
  margin: 0;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 0;
  padding: 0 1rem;
  transition: height 0.5s ease,
              padding-top 0.5s ease,
              padding-bottom 0.5s ease;
  
  p {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  a {
    text-decoration: underline;
    color: #a0c0ff;
  }
}

#close-banner {
  cursor: pointer;
  margin-left: 1rem;

  img {
    width: 0.75rem;
  }
}