main {
  img {
    width: 100%;
  }

  p {
    padding: 0.5rem 0;
  }

  p, ul {
    font-size: 1.25rem;
    margin: 1rem;
    text-align: left;
  }
}

li ul {
  font-size: 1rem;
  margin: 0;
}

.list {
  columns: 2;

  @media (max-width: 664px) {
    columns: 1;
  }
}

.img-wrapper {
  width: 25rem;
  max-width: 100%;
  float: left;
  margin: 0.75rem 2rem;
  border-radius: 1rem;
  overflow: hidden;

  @media (max-width: 1174px) {
    float: none;
    margin: 0.75rem auto;
  }
}

.content {
  width: 100%;
}
