main div {
  width: 60em;
}

main p, main ul {
  font-size: 1.25em;
  margin: 1em;
  text-align: left;
}

main p {
  padding: 0.5em 0;
}

main img {
  width: 100%;
}

li ul {
  font-size: 1em;
  margin: 0;
}

.list {
  columns: 2;
}

.img-wrapper {
  width: 30em;
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 850px) {
  .list {
    columns: 1;
  } 
}