@import url("header/header.css");
@import url("footer/footer.css");

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background: #101018;
  background-image: url("/img/background.webp");
  background-size: 100% 32rem;
  background-repeat: no-repeat;
  background-position: center 13.25rem;
  color: #e0e0e8;
  text-align: center;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;

  @media (max-width: 768px) {
    background-position: center 20rem;
  }
}

main {
  margin: 0;
  border: 0;
  padding: 2rem 8vw;

  h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
  }

  h2 {
    font-size: 2rem;
    padding: 0;
    padding-top: 1.5rem;
  }

  p, ul {
    font-size: 1.25rem;
    color: #d0c0c8;
    line-height: 1.5;
  }
}

main > *,
section > * {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6090f0;
  transition: color 0.15s ease;

  &:hover {
    color: #80b0ff;
  }

  &:active {
    color: #a0c0ff;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-top: 4rem;

  h3 {
    color: #e0e0e8;
    font-size: 1.75rem;
    margin: 0;
    padding: 0.5rem;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #202028;
    color: #e0e0e8;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    padding: 1rem;
    width: 15rem;

    & > * {
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.15s ease;
    }

    &:hover > * {
      opacity: 0.8;
    }

    &:active > * {
      opacity: 0.5;
    }
  }
}